<ng-container *ngIf="{products: products$|async} as data">

  <kendo-grid
    [kendoGridBinding]="data.products"
    [height]="400"
    [pageable]="true"
    [pageSize]="10"
  >
    <ng-template kendoGridToolbarTemplate>
      <button type="button" kendoGridExcelCommand icon="file-excel">
        Export to Excel
      </button>
    </ng-template>
    <kendo-grid-column field="ProductID" title="Product ID" [width]="200"></kendo-grid-column>
    <kendo-grid-column field="ProductName" title="Product Name"></kendo-grid-column>
    <kendo-grid-column
      field="Category.CategoryName"
      title="Category"
      [hidden]="true"
    >
    </kendo-grid-column>
  </kendo-grid>

    <!-- <kendo-grid-excel
      fileName="Products.xlsx"
      [fetchData]="allData"
    ></kendo-grid-excel>  -->

  <br/>
  <div class="alert alert-danger"
      *ngIf="errorMessage">
    {{ errorMessage | json }}
  </div>

  <h5>Data from parsed http request on file product2.json</h5>
  <div>{{data.products | json}}</div>


</ng-container>
